.header {
  position: relative;
  padding: 10px;
  padding-right
  
  : 10px;
  justify-content: space-between;
}

.header__card {
  background-color: #ffffff;
  border-radius: 20px; /* Округлые углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для выделения */
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center; /* Вертикальное выравнивание элементов */
  justify-content: space-between;
  list-style: none;
  /* justify-content: flex-end; /* Логотип слева, основные элементы по центру */
  width: 100%;
  padding: 0 20px;
}

.main_nav__list {
  display: flex;
  align-items: center; /* Вертикальное выравнивание ссылок */
  justify-content: space-between;
  gap: 20px; /* Горизонтальные отступы между элементами внутри */
  list-style: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}
.main_nav__list .last-item {
  margin-left: auto; /* Сдвигает элемент вправо */
}


/* .main_nav ul {
 
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 0;
} */

/* .main_nav a {
 
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
} */
/* Стиль для элементов меню */
