.above__header {
  position: relative;
  padding: 2px 0;
}

.above__header__сontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
