.header__button {
  display: inline-block;
  /* cursor: pointer; Курсор в виде указателя при наведении */
  text-decoration: none;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  color: #ffffff;
  background-color: #002f87;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 15px; /* Закругленные края кнопки */
  transition: background-color 0.3s ease;
}


.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.main_title {
  font-size: 40px;
  margin: 5px;
  align-items: center;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #002f87;
}

/* Стили для services */
.services {
  /* padding: 10px 20px; */
  /* position: relative;
  justify-content: space-between; */
}

.services__container2 {
  position: relative;
  display: grid;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  padding: 10px;
}
/* grid-template-columns: repeat(3, 1fr); 3 колонки */
.services__container {
  padding: 0px 15px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: min(30px, 5vw);
  margin: 0 auto;
  max-width: 1200px;
}
/* .services__container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
} */

.driver_item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
  max-width: 320px;
  min-width: 250px;
}

.driver_item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.driver_item__image img {
  background-color: #f0f0f0; /* Фон для выделения шапки */
  width: 100%; /* Задает ширину изображения под размер карточки */
  height: 382px;
  display: block; /* Убирает дополнительные отступы */
  border-radius: 20px;
  object-fit: cover;
}

.driver_item_content {
  flex-grow: 1;
  display: flex; /*Включаем Flexbox */
  flex-direction: column;
  justify-content: center; /* Центрируем по горизонтали */
  /* align-items: center;  */
  place-items: center;
}
.driver_item__title {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

.driver_item__description {
  font-size: 14px;
  color: #666;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

.driver_item_buttons {
  display: flex;
  text-align: center;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  justify-content: space-between; /* Размещаем кнопки с отступом друг от друга */
  gap: 20px; /* Отступ между кнопками */
  margin-top: 0px; /* Отступ сверху для кнопок */
}
.driver_item__button {
  align-self: flex-end;
  display: inline-block; /* Делает ссылку похожей на блок, как кнопка */
  text-align: center; /* Выравнивание текста по центру */
  background-color: #ffffff; /* Белый фон кнопки */
  color: #002f87; /* Синий цвет шрифта */
  border: 1px solid #002f87; /* Синяя окантовка */
  padding: 13px 20px; /* Внутренние отступы */
  border-radius: 15px; /* Округление углов */
  font-size: 16px; /* Размер шрифта */
  font-weight: normal;
  cursor: pointer; /* Курсор в виде указателя при наведении */
  text-decoration: none; /* Убирает подчеркивание у ссылки */
  transition: background-color 0.3s, color 0.3s;
  width: 85%;
  margin: 0px;
}

.driver_item__button:hover {
  background-color: #002f87; /* Синий фон при наведении */
  color: #ffffff; /* Белый цвет шрифта при наведении */
}

.driver_item__add_button {
  display: inline-flex; /* Используем flex для центрирования содержимого */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center;
  font-family: "Helvetica", "Helvetica Neue", sans-serif; /* Центрируем по вертикали */
  width: 60px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  background-color: #002f87; /* Темно-синий фон (цвет ИНГОССТРАХ) */
  border: 2px solid #ffffff; /* Белая окантовка */
  border-radius: 50%; /* Круглая форма */
  text-decoration: none; /* Убираем подчеркивание */
  color: #ffffff; /* Белый цвет текста */
  font-size: 24px; /* Размер шрифта для крестика */
  font-weight: bold; /* Жирный шрифт */
  transition: background-color 0.3s, transform 0.3s; /* Плавный переход для фона и трансформации */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для эффекта глубины */
}
.driver_item__add_button:hover {
  background-color: #004a8c; /* Темно-синий цвет фона при наведении */
  transform: scale(1.1); /* Цвет фона при наведении */
}

.driver_item__add_icon {
  line-height: 1; /* Выравниваем крестик по центру */
}

@media (max-width: 968px) {
  .services__container {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в строке */
    gap: 20px; /* Отступ между карточками */
  }
}

/* При ширине экрана до 600px (1 карточка в строке) */
@media (max-width: 700px) {
  .services__container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

  .driver_item {
    width: 100%; /* Карточки растягиваются на всю ширину контейнера */
    text-align: center; /* Выравнивание содержимого */
  }
  .main_title {
    font-size: 30px;
    margin: 5px;
    align-items: center;
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #002f87;
  }
}

@media (max-width: 550px) {
  .main_title {
    font-size: 20px;
    margin: 5px;
    align-items: center;
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #002f87;
  }
}

.search_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.search_form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search_input {
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 300px;
  flex: 1;
}

.search_button {
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  background-color: #002f87;
  color: #fff;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search_button:hover {
  background-color: #0056b3;
}

@media (max-width: 800px) {
  .search_input {
    border: none;
    padding: 10px;
    font-size: 10px;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 150px;
    flex: 1;
  }

  .search_button {
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    background-color: #002f87;
    color: #fff;
    font-size: 10px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 500px) {
  .search_input {
    border: none;
    padding: 10px;
    font-size: 10px;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 100px;
    flex: 1;
  }

  .search_button {
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    background-color: #002f87;
    color: #fff;
    font-size: 10px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
