.register_container {
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.services__container2 {
  position: relative;
  display: grid;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  padding: 10px;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #002f87;
  font-weight: 600;
}

.input_group {
  margin-bottom: 20px;
}

.input_group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.input_field {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white; /* Цвет текста внутри поля ввода */
  background-color: #ccc; /* Тёмный фон для поля ввода */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
}

.input_field:focus {
  border-color: #002f87;
  /* box-shadow: 0 0 5px rgba(63, 175, 74, 0.6); */
  background-color: #ccc; /* Немного светлее фон при фокусе */
}

button.submit_btn {
  width: 100%;
  padding: 12px;
  background-color: #002f87;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit_btn:hover {
  background-color: #0056b3;
}

button.submit_btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error_message {
  color: #e74c3c;
  font-size: 14px;
  margin-bottom: 20px;
}

.success_message {
  color: #3faf4a;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}
