/* Карточка водителя */
.header__button {
  display: inline-block;
  /* cursor: pointer; Курсор в виде указателя при наведении */
  text-decoration: none;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  color: #ffffff;
  background-color: #002f87;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 15px; /* Закругленные края кнопки */
  transition: background-color 0.3s ease;
}
.header__button:hover {
  background-color: #0056b3;
  color: #ffffff; /* Изменение цвета при наведении */
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.main_title {
  font-size: 40px;
  margin: 15px;
  align-items: center;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #002f87;
}

/* Стили для services */
.services {
  padding: 10px 0px;
  position: relative;
}

.services__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 20px;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.driver_details {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.driver_details:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Секция с изображением водителя */
.driver_details__image img {
  background-color: #f0f0f0; /* Фон для выделения шапки */
  width: 287px; /* Задает ширину изображения под размер карточки */
  height: 382px;
  display: block; /* Убирает дополнительные отступы */
  border-radius: 20px;
  object-fit: cover;
}

/* Секция с информацией о водителе */
.driver_details__info {
  flex: 1;
}

.driver_details__name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  color: #002f87; /* Цвет текста как на ingos.ru */
  margin-bottom: 10px;
}

.driver_details__experience,
.driver_details__license,
.driver_details__certificate_number,
.driver_details__characteristics {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

.driver_details__experience {
  font-weight: bold;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

.driver_details__characteristics {
  margin-top: 20px;
  line-height: 1.5;
  color: #666;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

/* Кнопка "Вернуться" */
.driver_details__back_button {
  display: inline-block;
  padding: 12px 20px;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  background-color: #002f87; /* Цвет кнопки как на ingos.ru */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.driver_details__back_button:hover {
  background-color: #004bb5;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .driver_details {
    flex-direction: column;
    align-items: center;
  }

  .driver_details__image img {
    width: 150px;
    height: 150px;
  }

  .driver_details__info {
    text-align: center;
  }
}
