
.header__button {
  display: inline-block;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  background-color: #002f87;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.header__button:hover {
  background-color: #0056b3;
}

.menu-container {
  width: auto;
  margin: 20px;
  position: relative; /* Родитель для позиционирования меню */
  display: flex;
  justify-content: flex-end; /* Иконка выравнивается вправо */
  align-items: center; /* Центрирование элементов */
}

.navbar {
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #003366;
  position: relative;
  transition: 0.3s;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #003366;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon:before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon:after {
  transform: rotate(-45deg);
  top: 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 10px; /* Отступы внутри меню */
  background-color: #ffffff;
  border-radius: 10px; /* Округленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  position: absolute;
  top: 0;
  right: 0; /* Позиционирование меню относительно кнопки */
  height: 50px; /* Высота меню */
  width: 500px; /* Увеличенная ширина меню */
  overflow: hidden; /* Скрываем содержимое */
  opacity: 0; /* Прозрачное по умолчанию */
  transform: translateX(100%); /* Сдвиг за пределы кнопки */
  transition:
    width 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
  display: flex;
  align-items: center; /* Центрирование пунктов меню по вертикали */
  justify-content: space-evenly; /* Равномерное распределение пунктов меню */
}

.menu.show {
  width: 500px; /* Раскрываем меню */
  opacity: 1; /* Делаем видимым */
  transform: translateX(0); /* Убираем сдвиг */
}

.menu-item {
  font-size: 14px;
  color: #333;
  white-space: nowrap; /* Запрещаем перенос текста */
}

.menu-item a {
  text-decoration: none;
  color: #003366;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #0056b3; /* Изменение цвета текста при наведении */
}

.nav_link {
  display: flex;
  flex-direction: row; /* Элементы в строку */
  gap: 10px;
}

.nav_link .nav-item {
  list-style: none;
  padding: 0;
}

.nav_link_r {
  text-decoration: none;
  color: #003366;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav_link_r:hover {
  color: #0056b3;
}

.nav_link_r_2 {
  text-decoration: none;
  color: #002f87;
  font-size: 16px;
  margin-left: 20px;
}

.nav_link_r_2:hover {
  color: #0056b3;
}
/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu {
    width: 0; /* Меню скрыто по ширине */
    left: auto;
    right: 0; /* Меню открывается влево */
  }

  .menu.show {
    width: 100%; /* На мобильных меню занимает всю ширину */
  }
}
